

@model CsharpSampleWeb.Models.Person
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Registration FORM";
}

<style>
    .gender{
        font-size: 0.8rem;
        border-radius: 10rem;
        padding: 0;
        height: 100%;
        padding: 10px;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
    }

    .form-control.gender.input-validation-error {
        height: 68%; /* Adjust the height if gender is invalid */
    }

    .p-5 {
        padding: 1rem !important;
    }

</style>

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="textAnimation">
                                <span>R</span>
                                <span>e</span>
                                <span>g</span>
                                <span>i</span>
                                <span>s</span>
                                <span>t</span>
                                <span>r</span>
                                <span>a</span>
                                <span>t</span>
                                <span>i</span>
                                <span>o</span>
                                <span>n &nbsp;</span>
                                <span>F</span>
                                <span>o</span>
                                <span>r</span>
                                <span>m</span>
                                <span>!</span>
                            </h1>
                        </div>
                        <form class="user" asp-action="RegistrationForm">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input asp-for="FirstName" type="text" class="form-control form-control-user" id="FirstName"
                                           placeholder="First Name">
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <input asp-for="LastName" type="text" class="form-control form-control-user" id="LastName"
                                           placeholder="Last Name">
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input asp-for="Age" type="number" class="form-control form-control-user" id="Age"
                                           placeholder="Age">
                                    <span asp-validation-for="Age" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <select asp-for="Gender" class="form-control gender" id="Gender">
                                        <option class="form-control" disabled selected>Select Gender</option>
                                        <option class="form-control">Male</option>
                                        <option class="form-control">Female</option>
                                    </select>
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input asp-for="Email" type="email" class="form-control form-control-user" id="Email"
                                           placeholder="Email Address">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <input asp-for="ContactNo" type="number" class="form-control form-control-user" id="ContactNo"
                                           placeholder="Contact Number">
                                    <span asp-validation-for="ContactNo" class="text-danger"></span>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block submitBtn">Submit <svg fill="white" viewBox="0 0 448 512" height="1em" class="arrow"><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"></path></svg></button>
                            <hr>
                        </form>
                        <!----This is a form submit return--->
                        @if (TempData["msg"] != null)
                        {
                            @if (TempData["msg"] == "Submitted")
                            {
                                <script>
                                    Swal.fire('Submitted!', '', 'success')
                                    $("#FirstName").val('');
                                    $("#LastName").val('');
                                    $("#Age").val('');
                                    @* $("#Gender").val(''); *@
                                    $("#Email").val('');
                                    $("#ContactNo").val('');
                                </script>
                            }
                            else
                            {
                                <script>
                                    Swal.fire('Invalid!', '@TempData["msg"]', 'error')
                                </script>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>